<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="../../../assets/ps-logo.png"
      alt="playstation logo"
      srcset=""
      width="140px"
      height="32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>

      <li>
        <a href="https://guilherme-hap.github.io/js-developer-portfolio/">PORTFÓLIO</a>
      </li>

      <li>
        <a href="https://github.com/guilherme-hap">GITHUB</a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/guilherme-henrique-araujo-pereira-437b88271/">LINKEDIN</a>
      </li>

    </ul>
  </div>
</div>
